/* common.css */
:global(.swiper-button-next),
:global(.swiper-button-prev) {
  background: rgba(0, 0, 0, 0.3) !important;
  color: #fff !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.swiper-button-next)::after,
:global(.swiper-button-prev)::after {
  font-size: 14px !important;
  font-weight: 800;
}

:global(.swiper-pagination-fraction) {
  background: rgba(0, 0, 0, 0.6) !important;
  color: #fff !important;
  padding: 4px 12px !important;
  border-radius: 20px !important;
  font-size: 12px !important;
  width: auto !important;
}
