:root {
  --padding-md: 16px;
  --padding-sm: 12px;

  --margin-sm: 8px;
  --margin-md: 10px;
  --margin-lg: 12px;

  --gap-sm: 4px;
  --gap-md: 8px;
  --gap-lg: 16px;

  --font-weight: 700;

  --font-xs: 14px;
  --font-sm: 16px;
  --font-md: 18px;
  --font-lg: 20px;
  --font-xl: 24px;
  --font-xxl: 28px;

  --text: #4b5563;
  --text-h: #111827;
  --bg: #fff;
  --bg-sub: #f9fafb;
  --border: #e5e7eb;
  --border-radius: 16px;
  --code-bg: #f4f3ec;

  --accent: #3b82f6;
  --accent-bg: rgba(59, 130, 246, 0.08);
  --accent-border: rgba(59, 130, 246, 0.2);
  --social-bg: rgba(244, 243, 236, 0.5);

  --shadow:
    0 10px 25px -5px rgba(0, 0, 0, 0.04), 0 8px 10px -6px rgba(0, 0, 0, 0.04);

  --sans: "Pretendard Variable", "Inter", system-ui, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/1.6 var(--sans);
  letter-spacing: -0.01em;
  color-scheme: light dark;

  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #94a3b8;
    --text-h: #f8fafc;
    --bg: #0f172a;
    --bg-sub: #1e293b;
    --border: #334155;
    --border-radius: 16px;

    --code-bg: #1f2028;
    --accent: #60a5fa;
    --accent-bg: rgba(96, 165, 250, 0.15);
    --accent-border: rgba(96, 165, 250, 0.3);
    --social-bg: rgba(47, 48, 58, 0.5);

    --shadow:
      0 20px 25px -5px rgba(0, 0, 0, 0.3), 0 10px 10px -10px rgba(0, 0, 0, 0.2);
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}
