:root {
  --padding-xxs: 4px;
  --padding-xs: 8px;
  --padding-sm: 12px;
  --padding-md: 16px;
  --padding-lg: 20px;
  --padding-xl: 40px;
  --padding-bottom: 80px;

  --margin-sm: 8px;
  --margin-md: 10px;
  --margin-lg: 12px;
  --margin-xl: 24px;

  --gap-sm: 4px;
  --gap-md: 8px;
  --gap-lg: 16px;

  --font-family: "Pretendard", sans-serif;
  --font-weight: 700;

  /* --font-xs: 14px;
  --font-sm: 16px;
  --font-md: 18px;
  --font-lg: 20px;
  --font-xl: 24px;
  --font-xxl: 28px; */

  --font-xs: clamp(12px, 1.5vw, 14px);
  --font-sm: clamp(14px, 2vw, 18px);
  --font-md: clamp(16px, 2.5vw, 22px);
  --font-lg: clamp(18px, 3vw, 26px);
  --font-xl: clamp(22px, 4vw, 32px);
  --font-xxl: clamp(26px, 5vw, 40px);
  --font-big: clamp(36px, 6vw, 48px);
  --text: #4b5563;
  --text-h: #111827;
  --text-i: #ffffff;

  --bg: #fff;
  --bg-sub: #f9fafb;
  --bg-i: #111827;

  --border: #e5e7eb;
  --border-radius-sm: 12px;
  --border-radius-md: 16px;
  --border-radius-lg: 20px;
  --code-bg: #f4f3ec;

  --accent: #0064de;
  --accent-bg: rgba(59, 130, 246, 0.08);
  --accent-border: rgba(59, 130, 246, 0.2);
  --social-bg: rgba(244, 243, 236, 0.5);

  --shadow:
    0 10px 25px -5px rgba(0, 0, 0, 0.04), 0 8px 10px -6px rgba(0, 0, 0, 0.04);

  --sans: "Pretendard Variable", "Inter", system-ui, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/1.6 var(--sans);
  letter-spacing: -0.01em;
  color-scheme: light dark;

  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #94a3b8;
    --text-h: #f8fafc;
    --text-i: #0f172a;

    --bg: #0f172a;
    --bg-sub: #1e293b;
    --bg-i: #f8fafc;

    --border: #334155;
    --border-radius: 16px;

    --code-bg: #1f2028;
    --accent: #60a5fa;
    --accent-bg: rgba(96, 165, 250, 0.15);
    --accent-border: rgba(96, 165, 250, 0.3);
    --social-bg: rgba(47, 48, 58, 0.5);

    --shadow:
      0 20px 25px -5px rgba(0, 0, 0, 0.3), 0 10px 10px -10px rgba(0, 0, 0, 0.2);
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}
