.appWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: var(--padding-bottom);
  /* padding-bottom: 80px; */
  -webkit-overflow-scrolling: touch;
}

.topBar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: var(--padding-sm);
  background-color: var(--bg);
  /* border-bottom: 1px solid var(--border); */
}

.backBtn {
  all: unset;
  display: flex;
  align-items: center;
  color: var(--accent);
  font-size: var(--font-md);
  cursor: pointer;
  gap: var(--gap-sm);
}

.pageTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--font-lg);
  font-weight: var(--font-weight);
  color: var(--text-h);
  margin: 0;
  white-space: normal;
  width: max-content;
  max-width: 70%;
}

.highlight {
  color: var(--accent);
}

.emptySpace {
  width: 40px;
}
