.container {
  padding: var(--padding-xs) var(--padding-md);
}

.iconMenuContainer,
.imageMenuContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  gap: var(--gap-md);
}

/* 태블릿 이상 */
@media (min-width: 768px) {
  .iconMenuContainer {
    grid-template-columns: repeat(4, 1fr);
  }

  .imageMenuContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 데스크탑 */
@media (min-width: 1024px) {
  .iconMenuContainer {
    grid-template-columns: repeat(4, 1fr);
  }

  .imageMenuContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

.iconMenuContainer,
.imageMenuContainer,
.itineraryContainer,
.menuHeader {
  padding: var(--padding-md) 0 var(--padding-xs) 0;
}

.menuTitle {
  font-size: var(--font-xxl);
  font-weight: var(--font-weight);
  padding: var(--padding-sm) var(--padding-md);
}

.infoContainer {
  border: 1px solid var(--border);
  border-radius: var(--border-radius-md);
  overflow: hidden;
}
