/* Home.module.css */

.container {
  padding: var(--padding-inner);
}

.menuContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  gap: var(--gap);
}

/* 태블릿 이상 */
@media (min-width: 768px) {
  .menuContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 데스크탑 */
@media (min-width: 1024px) {
  .menuContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

/**/
.menuHeader {
  padding: var(--padding-inner-sm) 0;
}

.menuTitle {
  font-size: var(--font-xxl);
  font-weight: bold;
  padding: var(--padding-inner-sm) var(--padding-inner);
}
