/* Home.module.css */

.container {
  padding: 10px;
}

.menuContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  gap: 10px;
}

/* 태블릿 이상 */
@media (min-width: 768px) {
  .menuContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 데스크탑 */
@media (min-width: 1024px) {
  .menuContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

/**/
.menuHeader {
  padding: 10px 0;
}

.menuTitle {
  font-size: 28px;
  font-weight: bold;
  padding: 10px 15px;
}
