/* Places.module.css */

.container {
  padding: var(--padding-md);
}

.menuContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  gap: var(--gap-md);
}

/* 태블릿 이상 */
@media (min-width: 768px) {
  .menuContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 데스크탑 */
@media (min-width: 1024px) {
  .menuContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

.menuHeader {
  padding: var(--padding-sm) 0;
}

.menuTitle {
  font-size: var(--font-xxl);
  font-weight: var(--font-weight);
  padding: var(--padding-sm) var(--padding-md);
}

.infoContainer {
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
}
