.dualClock {
  display: flex;
  align-items: center;
  background: var(--bg-sub);
  padding: 10px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border);
  margin-top: 12px;
  gap: 16px;
}

.clockItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cityTag {
  font-size: 18px;
  font-weight: 800;
  color: var(--accent);
  letter-spacing: 0.05em;
}

.timeWrap {
  display: flex;
  align-items: baseline;
  gap: 6px;
}

.time {
  font-size: 15px;
  font-weight: 700;
  color: var(--text-h);
  font-family: var(--mono);
}

.date {
  font-size: 15px;
  color: var(--text);
  /* opacity: 0.7; */
}

.divider {
  width: 1px;
  height: 24px;
  background-color: var(--border);
}
