.card {
  background-color: var(--bg-sub);
  border: 1px solid var(--border);
  border-radius: var(--border-radius-md);
  padding: var(--padding-xs);
  display: flex;
  gap: var(--gap-lg);
  overflow: hidden;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 120px;
  /* aspect-ratio: 1 / 1; */
}

.row {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  /* width: 100%; */
}

.card:active {
  transform: scale(0.98);
  background-color: var(--accent-bg);
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  flex: 1;
  /* text-align: center; */
}

.title {
  font-size: var(--font-xl);
  font-weight: var(--font-weight);
  color: var(--text-h);
  margin: 0;
}

.iconWrapper {
  width: 40px;
  height: 40px;
  background-color: var(--accent-bg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.icon {
  width: 60%;
  height: 60%;
  color: var(--accent);
}
